.map-feature-section {
  padding: 2rem 0;
  background-color: #ffffff;

  .feature-content {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: -50px;

    .feature-image {
      flex: 1;
      img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        // box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      }
    }

    .feature-text {
      flex: 1;

      h2 {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
        color: #1a1a1a;
      }

      p {
        font-size: 1.1rem;
        line-height: 1.6;
        color: #666;
        margin-bottom: 2rem;
      }

      .learn-more {
        padding: 0.75rem 2rem;
        font-size: 1.1rem;
        font-weight: 500;
        color: #fff;
        background-color: #E47E43;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background-color: color-mix(in srgb, #E47E43, black 5%);
          transform: translateY(-2px);
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .map-feature-section {
    .feature-content {
      flex-direction: column;
      gap: 2rem;
      text-align: center;

      .feature-text {
        h2 {
          font-size: 2rem;
        }
      }
    }
  }
} 